<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <!--########################################针对程序修改以下参数##########################################-->

  <!--可根据environment key名称区分程序当前环境-->
  <variable name="environment" value="pro"/>
  <!--nodeName 请配置你的项目名字 例如program_test_log 这个名将会成为es索引前缀-->
  <variable name="nodeName" value="program_test_log"/>
  <!--tcpAddress 关于程序日志发送的logstash地址和端口 例如39.96.160.43:8103 -->
  <variable name="webtcpAddress" value="62.234.155.90:8103"/>
  <!--tcpAddress 触发预警接收端的邮箱可使用英文逗号配置多个邮箱 -->
  <variable name="notice" value="xxxxx@xx.com"/>

  <!--##########################################针对程序修改以上参数#########################################################-->


  <targets async="true">

    <target xsi:type="File"
          name="weblogfile"
          fileName="${basedir}/logs/${nodeName}_${shortdate}_${uppercase:${level}}.log"
          keepFileOpen="false"
          maxArchiveFiles="50"
          archiveAboveSize="52428800"
          layout="${longdate}#服务名称${nodeName}#计算机主机名称${hostname}#进程${processid}#环境变量${environment}#日志级别${uppercase:${level}}#记录器${logger:whenEmpty=_}#预警邮箱${notice}#请求URL${aspnet-request-url:whenEmpty=_}#控制器${aspnet-mvc-controller:whenEmpty=_}#方法${aspnet-mvc-action:whenEmpty=_}#Http请求类型${aspnet-request-method:whenEmpty=_}#Http请求Ip${aspnet-request-ip:whenEmpty=_}#Http请求Body${aspnet-request-posted-body:whenEmpty=_}#Http请求Form${aspnet-request-posted-form:whenEmpty=_}#Http请求Query${aspnet-request-querystring:whenEmpty=_}#Http响应状态码${aspnet-response-statuscode:whenEmpty=_}#日志信息:${message}#报错信息:${exception:format=Message}${exception:format=ToString,StackTrace}"/>


    <target xsi:type="Network"
          name="weblogtcp"
          keepConnection="false"
          layout="${longdate}#${nodeName}#${hostname}#${processid}#${environment}#${uppercase:${level}}#${logger:whenEmpty=_}#${notice}#${aspnet-request-url:whenEmpty=_}#${aspnet-mvc-controller:whenEmpty=_}#${aspnet-mvc-action:whenEmpty=_}#${aspnet-request-method:whenEmpty=_}#${aspnet-request-ip:whenEmpty=_}#${aspnet-request-posted-body:whenEmpty=_}#${aspnet-request-posted-form:whenEmpty=_}#${aspnet-request-querystring:whenEmpty=_}#${aspnet-response-statuscode:whenEmpty=_}#${message:whenEmpty=_}#"
          address ="tcp://${webtcpAddress}">
    </target>
  </targets>

  <rules>
    <!-- BlackHole without writeTo -->
    <logger name="web" level="Debug,Info,Error,Warn,Fatal" writeTo="weblogfile" />
    <!-- BlackHole without writeTo -->
    <logger name="net_web" level="Debug,Info,Error,Warn,Fatal" writeTo="weblogtcp" />

  </rules>

</nlog>